<!DOCTYPE html>
<html>
<head>
    <title>Notes - Vegan Cinnamon Apple Muffins</title>
</head>
<body>

<h1>Notes</h1>

<ul>
    <li>Egg replacer: 1 egg = 2 tbsp ground flaxseed + 3 tbsp water.</li>
    <li>After 5+ minutes, the flaxseed mixture resemebles a gooey egg consistency.</li>
    <li>It's more effecient to absorb Omega 3's and other vitamins with grounded flaxseed.</li>
    <li>Remember to use canola oil! Vegetable oil unfortunately changes the flavor.</li>
    <li>For a subtle sweetness and less overpowring flavor, choose Gala or Fuji apples.</li>
    <li>Fair warning, these muffins are so delicious that they might not last for too long!.</li>
</ul>

<p><a href="{{ url_for('recipe') }}">Back to Recipe</a></p>

</body>
</html>
