<!DOCTYPE html>
<html>
<head>
    <title>Vegan Cinnamon Apple Muffins</title>
</head>
<body>

    <h1>Vegan Cinnamon Apple Muffins</h1>
    <p style="font-weight:bold; margin:5px 0;">
    Prep: 15 min | Bake: 20 min | Servings: 12 | Difficulty: Easy
    </p>
<img src="{{ url_for('static', filename='img_muffins.jpg') }}" alt="Vegan Cinnamon Apple Muffins" width="250">
<h3>Ingredients</h3>
<table width="30%">
    <tr>

        <td width="25%" valign="top">
            <input type="checkbox" id="flour" name="flour">
            <label for="flour">2 cups flour</label><br>

            <input type="checkbox" id="sugar" name="sugar">
            <label for="sugar">1/2 cup sugar</label><br>

            <input type="checkbox" id="cinnamon" name="cinnamon">
            <label for="cinnamon">1 tsp cinnamon</label><br>

            <input type="checkbox" id="salt" name="salt">
            <label for="salt">1/2 tsp salt</label><br>

            <input type="checkbox" id="baking" name="baking">
            <label for="baking">1 tbsp baking powder</label><br>
        </td>

        <td width="25%" valign="top">
            <input type="checkbox" id="flax" name="flax">
            <label for="flax">2 eggs (see notes for replacer)</label><br>

            <input type="checkbox" id="milk" name="milk">
            <label for="milk">1 cup milk</label><br>

            <input type="checkbox" id="vanilla" name="vanilla">
            <label for="vanilla">1 tbsp vanilla extract</label><br>

            <input type="checkbox" id="oil" name="oil">
            <label for="oil">1/2 cup canola oil</label><br>

            <input type="checkbox" id="apples" name="apples">
            <label for="apples">1/2 apples, chopped</label><br>
        </td>

    </tr>
</table>

<h3>Directions</h3>
<ol>
<li>Preheat oven to 400°F.</li>
<li>Set aside egg replacer mixture for 5 minutes.</li>
<li>Mix dry ingredients and save 1/4 cup of flour for the apples.</li>
<li>Combine all of the ingredients.</li>
<li>Pour into 12 cup muffin pan with liners.</li>
<li>Sprinkle a mixture of cinnamon and sugar on top for extra crunch!
<li>Bake for 20 minutes and enjoy!</li>
</ol>

<a href="/notes">Notes</a><br>
<a href="/">Back to Home Page</a>

</body>
</html>
